html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #495E57;
  margin-bottom: 60px; /* gives bottom for footer hight*/
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  border-radius: 50px;
  width: 20%;
  height: 30px;
  box-shadow: none;
  background-color: #737377;
  border: #737377;
  color: white;
}

button:hover {
  background-color:#ffbf00;
  transition: 0.7s;
}

#header {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  
}

#logo {
  background-color: aliceblue;
  width: 300px;
  height: 100px;
  
}

.footer {
  background-color: #737377;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 40px;
  color: #fff;
  position: absolute;
  bottom:0;
  width: 100%;


}

.footer-rights{
  display: flex;
  float: left;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-options {
  display: flex;
  float: right;
  align-items: flex-end;
  
  justify-content: space-between;
  list-style-type: none;
  margin: 10,10,10,10;
}

.footer .footer-options li {
  margin-left: 10px;
  margin-right: 10px;

}

.footer-options a {
  color: #fff;
  text-decoration: none;
}

.footer-options a:hover {
  color: #abc4aa;
}

.menuHightlights {
  display: flex;
  align-content: center;
  justify-content: center;
}

.menuHightlights article{
  background-color:#e0e0e0;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 7px;
    width: 100%;
    height: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 20px;
}

.menuHightlights article img {
  border-radius: 10%;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
  height: 65%;
  width: 60%;
}

.specialTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}